## .NET
bin/
obj/
*.user
*.suo
*.userosscache
*.sln.docstates
.vs/
*.csproj.user
*.rsuser

## NuGet
*.nupkg
**/[Pp]ackages/*
!**/[Pp]ackages/build/
*.nuget.props
*.nuget.targets
project.lock.json

## Build results
[Dd]ebug/
[Rr]elease/
x64/
x86/
[Ww][Ii][Nn]32/
bld/
[Bb]in/
[Oo]bj/
[Ll]og/
[Ll]ogs/

## IDE
.idea/
*.swp
*~
.vscode/

## User-specific
*.rsuser
*.suo
*.user
*.userosscache
*.sln.docstates

## Test Results
[Tt]est[Rr]esult*/
TestResults/

# Node (Tailwind CSS build)
node_modules/
